<form class="input-form" action="/items/edit" method="post">
  <div class="form-group">
    <label for="ticketNo">Ticket Number</label>
    <input type="text" class="form-control" id="ticket-number" placeholder="ALM-123" name="ticketNo" value="{{itemTo.ticketNo}}">
  </div>

  <div>Status</div>

  <div class="radio-container">
    <input type="radio" name="status" id="status_1" value="Open" checked>
    <label for="status_1">
          Open
    </label>

    <input type="radio" name="status" id="status_2" value="inprogress">
    <label for="status_2">
          In-progress
    </label>

    <input type="radio" name="status" id="status_3" value="closed">
    <label for="status_3">
          Closed
    </label>
  </div>

  <label for="assignee">Assignee</label>
  <input type="text" class="form-control" id="assignee" placeholder="Gipsz Jakab" name="assignee" value="{{itemTo.assignee}}">

  <label for="verifier">Verifier</label>
  <input type="text" class="form-control" id="verifier" placeholder="Kis Manyi" name="verifier" value="{{itemTo.verifier}}">

  <label for="startedOn">Started On</label>
  <input type="text" class="form-control" id="startedOn" placeholder="2018-01-23" name="startedOn" value="{{itemTo.startedOn}}">

  <label for="shortDesc">Description</label>
  <input type="text" class="form-control" id="shortDesc" placeholder="Modal overlay is too short" name="shortDesc" value="{{itemTo.shortDesc}}">

  <div>Priority</div>
  <div class="radio-container">
    <input type="radio" name="priority" id="prio1" value="Low" checked>
    <label for="prio1">
        Low
      </label>
    <input type="radio" name="priority" id="prio2" value="Medium">
    <label for="prio2">
        Medium
      </label>
    <input type="radio" name="priority" id="prio3" value="High">
    <label for="prio3">
        High
      </label>
  </div>

  <div>
    <button id="submit-button" type="submit">
      Save
    </button>
    <a href="/">Cancel</a>
  </div>
</form>
