<div id="items-container" class="items-container">
  {{#each items as |item|}}
    <div id="item-{{item._id}}" class="item-card">
      <div class="card">
        <div class="card-header {{item.priority}}">
          {{item.ticketNo}} <span class="prio">Priority:{{item.priority}}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.shortDesc}}</h5>
          <p class="card-text">Assignee: {{item.assignee}} | Status: {{item.status}} | verifier: {{item.verifier}} | Started on: {{item.startedOn}} </p>
          <form id="edit-{{item._id}}" class="edit-form" action="/items/{{item._id}}/edit" method="post">
            <button type="submit" name="button" class="edit-button">Edit</button>
          </form>

          <form id="delete-{{item._id}}" class="delete-form" action="/items/{{item._id}}/delete" method="post">
            <button type="submit" name="button" class="delete-button">Delete</button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>
